extends layout

block content
  section
    a(href="/games")
      button.back-to-games << Back to Games
    .container
      ul.game-details
        each value, key in game
          li
            span(class="caption")=key + ":"
            if (key === "date")
              - var gamedate = new Date(game.date).toISOString()
              span(class=key)=gamedate.slice(5, 7) + "/" + gamedate.slice(8, 10) + "/" + gamedate.slice(0, 4)
            else if (key === "_id")
              span(class="id")=value
            else
              span(class=key)=value

    button.edit-game Edit
    button.delete-game Delete

  script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(type="text/javascript" src="/js/game.js")
