extends layout

block content
  if (!user)
    section
      p
        a(href="/login") Log In
      p
        a(href="/register") Register

  else
    section
      p
        a(href="/games") Games
      p
        a(href="/logout") Log Out
