extends layout

block content
  section
    h2 Log In
    .container
      form(action="/login" method="POST")
        div
          label(for="username") User Name:
          input(type="text" name="username")

        div
          label(for="password") Password:
          input(type="password" name="password")

        div
          button(type="submit") Log In

    p #{message}
